{extend name="base" /}
{block name="title"}{$title}{/block}
{block name="css"}{/block}
{block name="js"}

{/block}

{block name="content"}
    <div class="contents product">
        <div class="banner">
            <div class="container">
                <h2>在您需要帮助的时候请想起我 <small>帮助您，是我们的天职</small></h2>
                <div class="tips">
                    <p>如果您有任何疑问请您与客户人员联系</p>
                    <h3>全国唯一热线:400-996-9695</h3>
                    <span>(工作日：9:00-18:00&nbsp;&nbsp;节假日：9:00-16:00)</span>
                </div>
            </div>
        </div>
        <div class="nav clearfix">
            <div class="container">
                <div class="current">
                    <div class="title">主要业务</div>
                    <div class="en">Product</div>
                </div>
                <div class="position">
                    <span class="control">当前位置:</span>
                    <a href="javascript:;">首页</a>
                    <span class="divide">-&gt;</span>
                    <a href="javascript:;">主要业务</a>
                    <span class="divide">-&gt;</span>
                    <a href="javascript:;">微车贷</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="pro-header row">
                <div class="col-md-3">
                    <img src="/static/images/icon_procar.png" alt="微车贷">
                </div>
                <div class="col-md-9">
                    <h1>微车贷</h1>
                    <p>主要对持有行车执照车辆 的客户，以车辆做为质押物，解 决生产、经营过程中流动资金的 中短期借款。</p>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li>额度范围：2万元 &nbsp; — &nbsp; 50万元</li>
                        <li>期限选择：1个月 &nbsp; — &nbsp; 24个月</li>
                        <li>针对客群：有车一族(全款车GPS、按揭车均可)</li>
                        <li>月&nbsp;&nbsp;&nbsp;&nbsp;息：0.89% &nbsp; — &nbsp; 3%</li>
                        <li>还款方式：等额本息或到期还款</li>
                    </ul>
                </div>
            </div>
            <div class="pro-detail row">
                <ul class="clearfix">
                    <li class="col-md-3">
                        <i class="icon-apply"></i>
                        <p>在线申请</p>
                    </li>
                    <li class="col-md-3">
                        <i class="icon-auditing"></i>
                        <p>审核</p>
                    </li>
                    <li class="col-md-3">
                        <i class="icon-sign"></i>
                        <p>签订合同</p>
                    </li>
                    <li class="col-md-3">
                        <i class="icon-pay"></i>
                        <p>放款</p>
                    </li>
                </ul>
                <div class="item clearfix">
                    <h3>申请条件</h3>
                    <dl>
                        <dd>1.贷款人名下持有的全款车、按揭车、查封车、零首付车</dd>
                        <dd>2.公司名下车</dd>
                    </dl>
                </div>
                <div class="item clearfix">
                    <h3>必备材料</h3>
                    <dl>
                        <dd>身份证原件</dd>
                        <dd>行驶证原件</dd>
                        <dd>银行卡原件</dd>
                        <dd>车钥匙两把</dd>
                        <dd>交强保单</dd>
                        <dd>商业险保单[仅全款车需要]</dd>
                    </dl>
                </div>
                <div class="item clearfix">
                    <h3>产品特点</h3>
                    <dl>
                        <dd>手续简便，当场签约，当场放款</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{include file="Public:apply" /}
{/block}