{extend name="base" /}
{block name="title"}{$title}{/block}
{block name="css"}{/block}
{block name="js"}

{/block}

{block name="content"}
<div class="contents product">
    <div class="banner">
        <div class="container">
            <h2>在您需要帮助的时候请想起我 <small>帮助您，是我们的天职</small></h2>
            <div class="tips">
                <p>如果您有任何疑问请您与客户人员联系</p>
                <h3>全国唯一热线:400-996-9695</h3>
                <span>(工作日：9:00-18:00&nbsp;&nbsp;节假日：9:00-16:00)</span>
            </div>
        </div>
    </div>
    <div class="nav clearfix">
        <div class="container">
            <div class="current">
                <div class="title">主要业务</div>
                <div class="en">Product</div>
            </div>
            <div class="position">
                <span class="control">当前位置:</span>
                <a href="javascript:;">首页</a>
                <span class="divide">-&gt;</span>
                <a href="javascript:;">主要业务</a>
                <span class="divide">-&gt;</span>
                <a href="javascript:;">工薪贷</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="pro-header row">
            <div class="col-md-3">
                <img src="/static/images/icon_profarm.png" alt="工薪贷">
            </div>
            <div class="col-md-9">
                <h1>工薪贷</h1>
                <p>工薪贷主要对个人发放的信用或担保贷款，解决短期资金周转的借款。</p>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>额度范围：5000元 &nbsp; — &nbsp; 5万元</li>
                    <li>期限选择：1个月 &nbsp; — &nbsp; 6个月</li>
                    <li>针对客群：18-38岁年龄段且有固定工作人群</li>
                    <li>月&nbsp;&nbsp;&nbsp;&nbsp;息：0.89% &nbsp; — &nbsp; 3%</li>
                    <li>还款方式：每月付息，到期还本</li>
                </ul>
            </div>
        </div>
        <div class="pro-detail row">
            <ul class="clearfix">
                <li class="col-md-3">
                    <i class="icon-apply"></i>
                    <p>在线申请</p>
                </li>
                <li class="col-md-3">
                    <i class="icon-auditing"></i>
                    <p>审核</p>
                </li>
                <li class="col-md-3">
                    <i class="icon-sign"></i>
                    <p>签订合同</p>
                </li>
                <li class="col-md-3">
                    <i class="icon-pay"></i>
                    <p>放款</p>
                </li>
            </ul>
            <div class="item clearfix">
                <h3>申请条件</h3>
                <dl>
                    <dd>当地经营时间满一年</dd>
                    <dd>征信良好</dd>
                    <dd>有固定的经营场所和居住场所</dd>
                    <dd>生意或收入来源可见</dd>
                </dl>
            </div>
            <div class="item clearfix">
                <h3>必备材料</h3>
                <dl>
                    <dd>个人: 身份证原件、结婚证原件、房产证、个人流水、个人征信</dd>
                    <dd>企业: 企业营业执照、开户许可证、企业征信、对公流水、其他企业权益资料</dd>
                </dl>
            </div>
            <div class="item clearfix">
                <h3>产品特点</h3>
                <dl>
                    <dd>手续简便，当场签约，当场放款</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{include file="Public:apply" /}
{/block}