{extend name="base" /}
{block name="title"}{$title}{/block}
{block name="css"}{/block}
{block name="js"}

{/block}

{block name="content"}
<div class="contents keeper-page">
    <div class="banner">
        <div class="container">
            <h2>专业团队 优质服务</h2>
            <div class="tips">
                <p>如果您有任何疑问请您与客户人员联系</p>
                <h3>全国唯一热线:400-996-9695</h3>
                <span>(工作日：9:00-18:00&nbsp;&nbsp;节假日：9:00-16:00)</span>
            </div>
        </div>
    </div>
    <div class="nav clearfix">
        <div class="container">
            <div class="current">
                <div class="title">企业文化</div>
                <div class="en">Culture</div>
            </div>
            <div class="position">
                <span class="control">当前位置:</span>
                <a href="javascript:;">首页</a>
                <span class="divide">-&gt;</span>
                <a href="javascript:;">企业文化</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div style="border-left:8px solid #21aa90;padding-left:15px;color:#000;line-height:36px;">
            <h3 style="font-size:24px;">
                企业文化<small style="font-size:18px;padding-left:10px;color:#000;"></small>
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-3">
                企业愿景:
            </div>
            <div class="col-xs-9">
                将米花金服打造成为普惠金融的领跑者
            </div>
            <div class="col-xs-3">
                企业使命:
            </div>
            <div class="col-xs-9">
                让所有人享受到最便捷和最贴心的金融服务。
            </div>
            <div class="col-xs-3">
                经营理念:
            </div>
            <div class="col-xs-9">
                以三农领域服务核心，为千万农户、中小微企业主资金需求方打造出一个安全、透明、合规的互联网金融服务平台。
            </div>
        </div>
        <div style="border-left:8px solid #21aa90;padding-left:15px;color:#000;line-height:36px;">
            <h3 style="font-size:24px;">
                核心价值观<small style="font-size:18px;padding-left:10px;color:#000;"></small>
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-3">
                团结:
            </div>
            <div class="col-xs-9">
                凝心聚力，共同发展
            </div>
            <div class="col-xs-3">
                开拓:
            </div>
            <div class="col-xs-9">
                步步攀高，孜孜求精
            </div>
            <div class="col-xs-3">
                分享:
            </div>
            <div class="col-xs-9">
                共克难关，分享成果
            </div>
            <div class="col-xs-3">
                创新:
            </div>
            <div class="col-xs-9">
                坚持创新，再铸辉煌
            </div>
        </div>
        <div style="border-left:8px solid #21aa90;padding-left:15px;color:#000;line-height:36px;">
            <h3 style="font-size:24px;">
                服务理念<small style="font-size:18px;padding-left:10px;color:#000;"></small>
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                未来，米花金服将锐意进取，向更安全、更全面、更智能的综合型互联网金融平台迈进，打造独具特色的互联网金融生态圈，竭诚为用户提供多元化、个性化的普惠金融服务。
            </div>
        </div>
    </div>
</div>
{/block}