{extend name="base" /}
{block name="title"}{$title}{/block}
{block name="css"}{/block}
{block name="js"}

{/block}

{block name="content"}
<div class="contents introduce">
    <div class="banner">
        <div class="container">
            <h2>专业团队 优质服务</h2>
            <div class="tips">
                <p>如果您有任何疑问请您与客户人员联系</p>
                <h3>全国唯一热线:400-996-9695</h3>
                <span>(工作日：9:00-18:00&nbsp;&nbsp;节假日：9:00-16:00)</span>
            </div>
        </div>
    </div>
    <div class="nav clearfix">
        <div class="container">
            <div class="current">
                <div class="title">联系我们</div>
                <div class="en">Contact Us</div>
            </div>
            <div class="position">
                <span class="control">当前位置:</span>
                <a href="javascript:;">首页</a>
                <span class="divide">-&gt;</span>
                <a href="javascript:;">联系我们</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="top">
            <h1><strong>Introduction</strong> 公司简介</h1>
            <p>China International Finance <strong>———</strong></p>
        </div>
        <div class="leftPart">
            <div class="layout-area">
                <p style="display: none">
                    重庆米花金服信息技术有限公司是经上级金融监督部门许可成立的一家以互联网金融、信贷运营、产业基金、财富管理、资本投资和融资租赁为主营业务的大型综合性金融企业，目前管理资产近十亿。
                </p>
                <p>
                    重庆米花金服信息技术有限公司融合金融全球化发展与信息技术创新手段，以健全的风险管控体系为基础，专注服务于三农、小微和中小企业领域，为客户提供高效、安全的金融服务。
                </p>
                <p>
                    公司超过85%的成员具有本科以上学历及金融行业背景，同时具有在地产、投资理财、互联网技术、基金管理等行业多年实战经验，数十名中高层经营管理者曾在顶尖的银行、投资、信托、证券、保险和基金等领域有着深厚从业背景，同时，与多家世界知名的投资银行、风险基金建立了紧密合作的战略伙伴关系。
                </p>
                <p>
                    公司通过不断探索和创新金融服务模式，成为具有持续创新能力，盈利能力，值得信赖的优质金融服务商和区域综合金融服务的领导者；通过夯实管理基础，建设优秀的企业文化，促进企业健康可持续发展，立志成为中国财富管理市场的领导者。
                </p>
            </div>
        </div>

    </div>
</div>
{/block}


