{extend name="base" /}
{block name="title"}{$title}{/block}
{block name="css"}{/block}
{block name="js"}

{/block}

{block name="content"}
<div class="contents keeper-page">
    <div class="banner">
        <div class="container">
            <h2>一诺千金 诚信为本</h2>
            <div class="tips">
                <p>如果您有任何疑问请您与客户人员联系</p>
                <h3>全国唯一热线:400-996-9695</h3>
                <span>(工作日：9:00-18:00&nbsp;&nbsp;节假日：9:00-16:00)</span>
            </div>
        </div>
    </div>
    <div class="nav clearfix">
        <div class="container">
            <div class="current">
                <div class="title">米花掌柜</div>
                <div class="en">Keeper</div>
            </div>
            <div class="position">
                <span class="control">当前位置:</span>
                <a href="javascript:;">首页</a>
                <span class="divide">-&gt;</span>
                <a href="javascript:;">米花掌柜</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="intro">
            <p>
                米花金服以移动支付为入口，整合现有的支付方式，为商户提供一站式收银和管理服务，推动“支付+会员+营销+商圈+大数据+金融”的商业模式，实现移动支付生态系统的创新变革。提供的是支付基础之上的多种衍生服务，它不具备支付牌照，而是通过聚合多种第三方支付平台、合作银行及其他服务商接口等支付工具的综合支付服务，且不进行资金清算。米花支付实现“多码合一”，目前支持支付宝支付、微信支付、百度钱包、京东钱包、QQ钱包，消费者只要通过手机扫描米花金服支付二维码，便可用任何支付工具完成支付。
            </p>
        </div>
        <div style="border-left:8px solid #21aa90;padding-left:15px;color:#000;line-height:36px;">
            <h3 style="font-size:24px;">
                产品优势<small style="font-size:18px;padding-left:10px;color:#000;"></small>
            </h3>
        </div>
        <ul>
            <li class="gooditem">
                <div class="section" style="background:url('/static/images/keeper_1.png') 20px center no-repeat;">
                    <h3>支付多样化</h3>
                    <p>系统支持银联无卡支付、微信、支付宝等支付，多码合一。满足商户或个人各种收款的需求。</p>
                </div>
            </li>
            <li class="gooditem">
                <div class="section" style="background:url('/static/images/keeper_2.png') 20px center no-repeat;">
                    <h3>信息更透明</h3>
                    <p>系统内部是基于功能模块的结构，系统提供标准的外部接口，亦可通过App，与其他互联网金融产品相结合，为用户提供更丰富的产品，为企业赢得更多利润。</p>
                </div>
            </li>
            <li class="gooditem">
                <div class="section" style="background:url('/static/images/keeper_3.png') 20px center no-repeat;">
                    <h3>功能多样化</h3>
                    <p>系统支持商户代理终端管理、外接理财或独立理财平台、信用卡垫资转账还款、D0秒到或批量、贷款渠道推广等等。</p>
                </div>
            </li>
            <li class="gooditem">
                <div class="section" style="background:url('/static/images/keeper_4.png') 20px center no-repeat;">
                    <h3>资金安全</h3>
                    <p>相对于第三方支付企业，我们的优势在于能够在“前端”更便捷地接触到用户，不碰触用户资金，合规成本也更加低廉。相比智能POS企业，聚合支付机构少了硬件开发的成本。因此，聚合支付企业的试错成本更低，面对市场变动更加灵活，解决方案更适应市场需求。</p>
                </div>
            </li>
            <li class="gooditem">
                <div class="section" style="background:url('/static/images/keeper_5.png') 20px center no-repeat;">
                    <h3>风控更安全</h3>
                    <p>系统建立事前、事中、事后的风控机制，除商户准入、鉴权、限额限笔等措施外，我们建立了一套完善的机制，可杜绝资金风险。</p>
                </div>
            </li>
            <li class="gooditem">
                <div class="section" style="background:url('/static/images/keeper_6.png') 20px center no-repeat;">
                    <h3>商家引流</h3>
                    <p>消费者扫米花金服二维码支付即可自动关注商家微信公众号、支付宝服务窗，沉淀为商户会员。同时，商家可以利用会员集点，积分，优惠券，会员卡等模块，吸引消费者复购，提升门店业绩。</p>
                </div>
            </li>
        </ul>
    </div>
</div>
{/block}