{extend name="base" /}
{block name="title"}{$title}{/block}
{block name="css"}{/block}
{block name="js"}

{/block}

{block name="content"}
<div class="contents college-page">
    <div class="banner">
        <div class="container">
            <h2>一诺千金 诚信为本</h2>
            <div class="tips">
                <p>如果您有任何疑问请您与客户人员联系</p>
                <h3>全国唯一热线:400-996-9695</h3>
                <span>(工作日：9:00-18:00&nbsp;&nbsp;节假日：9:00-16:00)</span>
            </div>
        </div>
    </div>
    <div class="nav clearfix">
        <div class="container">
            <div class="current">
                <div class="title">米花学院</div>
                <div class="en">College</div>
            </div>
            <div class="position">
                <span class="control">当前位置:</span>
                <a href="javascript:;">首页</a>
                <span class="divide">-&gt;</span>
                <a href="javascript:;">米花学院</a>
            </div>
        </div>
    </div>
    <div class="container news">
        <h2 class="title">2017年农村改造厨房、水井、厕所、猪圈统统都有补贴，不知道你就亏大了</h2>
        <div class="info">
            <p>近年来，国家对三农方面的支持政策不断调整，农民能够享受到的补贴福利也越来越多。</p>
            <p>但因为一些政策宣传不到位，农民们对于哪些农业项目有补贴以及怎么领取补贴都不太清楚，就拿跟农民生活密切相关的几项建设来说，都是可以领取到补贴的哦。</p>
        </div>

        <div class="news-content">
            <section class="row">
                <div class="col-md-12">
                    <div class="title_img">
                        <img src="/static/images/1_20170720143240.jpg" alt="农村改造补贴">
                        <p>农村的厨房改造、水井改造、猪圈牛圈改造以及沼气改造和房屋建设等这些项目，即我们俗称的“一建四改”项目都属于国家补贴的范围。此外还有厕所改造以及农村道路建设补贴等等，所以农民朋友们，如果你家里正在改造或者打算改造这些项目的话，赶紧去申请补贴吧！</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="tit">一、厕所改造</p>
                    <div class="news_img">
                        <img src="/static/images/1_20170720143249.jpg" alt="厕所改造">
                        <p>
                            如今这项改造项目在很多农村地区已经实施，各个地方指定的补贴标准也不一样。一般的补贴金额都在千元左右，有的地方对于已经完成厕所改造的农户，最高奖励可达4000元！。
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="tit">
                        二、厨房改造
                    </p>
                    <div class="news_img">
                        <img src="/static/images/1_20170720143256.jpg" alt="厨房改造">
                        <p>
                            农村有些地方还在用传统的大锅灶，焚烧秸秆等作物，厨房没有油烟机，卫生环境比较差。国家支持农户对自家厨房进行改造，每户奖励100元。
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="tit">三、水井改造</p>
                    <div class="news_img">
                        <img src="/static/images/1_20170720143311.jpg" alt="水井改造">
                        <p>
                            农村很多水井因年久失修，长期无人清理，里面水垢比较多，这样的水喝了对健康肯定是有影响的。为此国家也鼓励农户对水井进行改造，保证喝到干净卫生的水，每户给予100元奖励。
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="tit">四、沼气改造</p>
                    <div class="news_img">
                        <img src="/static/images/1_20170720143322.jpg" alt="沼气改造">
                        <p>
                            农村修建沼气池补贴标准、每口奖励政策以各地农村能源办公室的规定为准。
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="tit">五、猪圈牛圈改造</p>
                    <div class="news_img">
                        <img src="/static/images/1_20170720143329.jpg" alt="猪圈牛圈改造">
                        <p>
                            对于猪圈牛圈改造的农户每户奖励100元。
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="tit">六、房屋建设补贴</p>
                    <div class="news_img">
                        <img src="/static/images/1_20170720143336.jpg" alt="房屋建设补贴">
                        <p>
                            为了改善农村的居住条件，国家对于农民建房也是有一定补贴的，具体的补贴标准以当地为准，每个地方会有不同的差别。
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="tit">七、道路建设补贴</p>
                    <div class="news_img">
                        <img src="/static/images/1_20170720143348.jpg" alt="道路建设补贴">
                        <p>
                            农村有句口号：要致富先修路。以前很多农村都是泥巴路，现在国家补贴支持农村通路到户，由国家出资补贴一部分，村里集资或农民自己掏一部分，路修好后，给农民的出行将带来极大的方便。
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <p>以上这些就是农村常见的集中建设性补贴项目，主要是支持农民基础设施的改善，提高农民的生活质量，让他们居住、生活各方面都越来越好。</p>
            </section>
        </div>
    </div>
</div>
{/block}