{extend name="base" /}
{block name="title"}{$title}{/block}
{block name="css"}{/block}
{block name="js"}

{/block}

{block name="content"}
<div class="contents college-page">
    <div class="banner">
        <div class="container">
            <h2>一诺千金 诚信为本</h2>
            <div class="tips">
                <p>如果您有任何疑问请您与客户人员联系</p>
                <h3>全国唯一热线:400-996-9695</h3>
                <span>(工作日：9:00-18:00&nbsp;&nbsp;节假日：9:00-16:00)</span>
            </div>
        </div>
    </div>
    <div class="nav clearfix">
        <div class="container">
            <div class="current">
                <div class="title">米花学院</div>
                <div class="en">College</div>
            </div>
            <div class="position">
                <span class="control">当前位置:</span>
                <a href="javascript:;">首页</a>
                <span class="divide">-&gt;</span>
                <a href="javascript:;">米花学院</a>
            </div>
        </div>
    </div>
    <div class="container news">
        <h2 class="title">每亩交7元，最高获赔850元！13省试点玉米保险补贴</h2>
        <div class="info">
            <p>当前，多数玉米主产区已完成播种工作，甚至一些播种早的地区玉米苗已经长到齐腰高了。可南涝北旱的极端天气仍在持续，不少农民很担心今年的玉米收成。 </p>
            <p>而提起持续不断的自然灾害，内蒙古敖汉旗四家子镇牛夕河村村民白润志倒是一点不着急。原因就是他买了农业大灾保险！</p>
        </div>

        <div class="news-content">
            <p>“现在国家政策就是好，不仅人能上医疗保险，有了医疗保障，就连我家种的玉米也都上了保险，农民种粮可以旱涝保收，这心里别提有多踏实啦。”面对记者，白润志高兴地说。</p>
            <section>
                <p>
                    农民购买农业大灾保险，受灾后便可以获得相应的保险赔偿，而且数额还不少。不过并非所有地区的农民都能购买，仅河北、内蒙古、辽宁、吉林、黑龙江、江苏、安徽、江西、山东、河南、湖北、湖南、四川这13个重点粮食大省率先开始试点。
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="tit">每亩交7.2元最高可保850元</p>
                        <p>
                            玉米种植保险分为两档：一般种植户18元/亩（其中补贴80%，14.4元；自费20%，3.6元），保险赔偿金额最高为400元/亩；种植大户36元/亩（其中补贴80%，28.8元；自费20%，7.2元），保险赔偿金额最高为850元/亩。
                        </p>
                        <p>
                            种植大户评定标准各地区间略有不同，有些地区50亩以上（包含50亩）可划分为种植大户，还有些地区100亩以上（包含100亩）可划分为种植大户。种植大户购买玉米种植保险时，可自行选择两档中的其中一档进行参保，一般种植户仅可选择第一档进行参保。购买玉米保险时自费20%，其余均由政府进行补贴，不过需要先买（交自费）后补。
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="news_img">
                            <img src="/static/images/4_20170720155305.jpg" alt="农业保险">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <p class="tit">哪些情况下可申请玉米种植保险</p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <span class="tit">1、自然灾害</span>
                            当发生暴雨、洪水（政府行蓄洪除外）、内涝、风灾、冻灾、旱灾、雹灾或地震时，直接造成玉米受灾减产，且达到或超出保险标的20%（含）以上。
                        </p>
                        <p>
                            <span class="tit">2、一般灾害</span>
                            当发生干旱、流行性或爆发性病虫草鼠害类时，以乡镇为单位（个别几家农户受灾不可申报）整体损失率达30%（含）以上。这里的干旱与情况1中的旱灾有所不同，指仅出现干旱但还未达到旱灾的标准。
                        </p>
                        <p>
                            <span class="tit">3、突然灾害</span>
                            当发生地震、泥石流、山体滑坡或火灾时，按照实际发生面积进行评估，暂时无损失率的具体数字标准。
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="news_img">
                            <img src="/static/images/4_20170720155235.jpg" alt="灾害">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="tit">如何申报获得保险理赔</p>
                        <p>
                            不少农民之所以不愿购买玉米种植保险，是因为担心申报理赔流程繁琐、麻烦。其实玉米受灾后理赔流程一点也不麻烦，只要符合规定受灾标准，便可找当地经办政策性农业保险的保险公司申报获取赔偿。一般3日内他们便会进行实地勘察具体受灾情况与受灾面积，符合规定受灾标准的情况下便可以获得相关赔偿。
                        </p>
                        <p>
                            对此还有不明白的地方，可找当地主管部门（财政局下设的政策性农业保险试点工作领导小组办公室，简称农险办）进行咨询。
                        </p>
                    </div>
                </div>


            </section>
        </div>
    </div>
</div>
{/block}