{extend name="base" /}
{block name="title"}{$title}{/block}
{block name="css"}{/block}
{block name="js"}

{/block}

{block name="content"}
<div class="contents college-page">
    <div class="banner">
        <div class="container">
            <h2>一诺千金 诚信为本</h2>
            <div class="tips">
                <p>如果您有任何疑问请您与客户人员联系</p>
                <h3>全国唯一热线:400-996-9695</h3>
                <span>(工作日：9:00-18:00&nbsp;&nbsp;节假日：9:00-16:00)</span>
            </div>
        </div>
    </div>
    <div class="nav clearfix">
        <div class="container">
            <div class="current">
                <div class="title">米花学院</div>
                <div class="en">College</div>
            </div>
            <div class="position">
                <span class="control">当前位置:</span>
                <a href="javascript:;">首页</a>
                <span class="divide">-&gt;</span>
                <a href="javascript:;">米花学院</a>
            </div>
        </div>
    </div>
    <div class="container news">
        <h2 class="title">
            权威解读：农民专业合作社法修订草案解读
        </h2>
        <div class="info">
            <p>
                全国人大农业与农村委员会副主任委员陈光国在十二届全国人大常委会二十八次会议的全体会议上，受全国人大农业与农村委员会委托作了关于《中华人民共和国农民专业合作社法（修订草案）》（以下简称草案）的说明，施行十年的农民专业合作社法迎来了首次修改。
            </p>
        </div>
        <div class="news-content">
            <section>
                <p class="tit">农民专业合作社法修订的背景</p>
                <p>
                    农民专业合作社是带动农户进入市场的基本主体，是创新农村社会管理的有效载体。
                </p>
                <p>
                    当前，农民专业合作社蓬勃发展，已成为现代农业建设的中坚力量。截至2017年4月底，全国依法登记农民专业合作社188.8万家，是2007年底农民专业合作社法颁布施行初期的73倍，平均每个行政村有近3家合作社。入社农户占全国农户总数的46.1%，社均成员60户。产业分布广泛，涵盖粮棉油、肉蛋奶、果蔬茶等主要农产品生产，并扩展到农机、植保、民间工艺、旅游休闲农业、电子商务等多领域多业态。服务领域拓宽，在专业合作的基础上探索出股份合作、信用合作、专业合作社再联合等。农民专业合作社在农业农村经济社会发展中发挥了重要作用。同时，我们也应清醒地看到，一些专业合作社存在管理不民主、财务制度不健全等问题，甚至出现许多“空壳社”“挂牌社”“家庭社”，影响和制约了合作社的健康发展。
                </p>
                <p>
                    农民专业合作社作为重要的新型农业经营主体，既涉及农民的经济利益，又关系到农业现代化建设、农村经济发展和社会稳定，此次修法具有十分重要的意义。农委于2015年着手牵头农民专业合作社法的修改工作。在修改过程中，已多次征求中央和国务院有关部门，全国31个省、自治区、直辖市人大农委，有关科研院所和高等院校，以及有关专业合作社和专家学者的意见，在认真总结实践经验、深入调查研究、反复论证的基础上，形成了草案。
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <p class="tit">
                            亮点一:取消同类限制 明确业务范围
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            为顺应实践发展需要，草案取消有关“同类”农产品或者“同类”农业生产经营服务中“同类”限制，扩大法律调整范围。同时以列举方式扩大农民专业合作社的服务类型，将农村民间工艺及制品、休闲农业和乡村旅游资源的开发经营等新型农民专业合作社，以及农机、植保、水利等专业合作社纳入调整范围。
                        </p>
                        <p>
                            常委会组成人员在审议农民专业合作社法修订草案时，有委员提出，应明确农民专业合作社和社区性的经济合作社的区别。调研结果显示，近年来随着农村集体产权制度改革的深入推进，一些地方将改革后的农村集体经济组织称为经济合作社或股份经济合作社。股份经济合作社作为我国农村集体经济的组织载体，在农村集体产权制度改革和发展壮大农村集体经济过程中发挥着重要作用，中央已明确提出，抓紧研究制定农村集体经济组织相关法律。同时，经济合作社或股份经济合作社涉及的成员边界、财产关系、运行机制等，与本法规定的农民专业合作社存在很大区别，因此本法的调整范围不包含社区性的经济合作社或股份经济合作社。
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="news_img">
                            <img src="/static/images/5_20170720160324.jpg" alt="产销合作社">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="tit">
                            亮点二:允许合作社内部开展信用合作
                        </p>
                        <p>
                            全国已有14个省（区、市）的地方性法规明确规定合作社可以开展信用合作业务，辽宁、安徽等地制定了专门指导意见或管理办法。经国务院同意，山东省开展了合作社信用合作试点。目前，全国2000多家合作社开展信用合作。鉴于信用合作风险较高、专业性较强，法律应当对此作出统一规范，加强制度约束，强化风险防控。在借鉴地方立法经验基础上，草案明确农民专业合作社内部开展信用合作，须依托于农民专业合作社，以成员信用为基础，以产业为纽带，由全部或部分成员自愿出资，目的是为成员在合作社内部发展生产提供资金互助业务活动，不是专门的信用合作社。
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p class="tit">
                            亮点三:增设农民专业合作社联合社专章
                        </p>
                        <p>
                            目前一些省、自治区、直辖市人大常委会进行探索，以地方法规的形式赋予农民专业合作社联合社法律地位。据初步统计，目前已有14个省（区、市）的合作社地方性法规对联合社的注册登记作了原则规定。全国有联合社7200多家，涵盖农民专业合作社9.4万多个，带动农户超过560万户。但由于缺乏上位法依据，各地关于联合社的规定存在一定差异，可操作性不强，一定程度上影响了联合社的发展。为此，草案增加农民专业合作社联合社一章，明确其成员资格、注册登记、组织机构、治理结构、盈余分配及其他相关问题。草案规定，三个以上的农民专业合作社可以设立农民专业合作社联合社，依照本法登记，取得法人资格，领取营业执照，登记类型为农民专业合作社联合社。
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p class="tit">
                            亮点四:规范合作社发展的新规定
                        </p>
                        <p>
                            形形色色的“空壳社”“挂牌社”等假合作社损害了农民专业合作社的名声，侵蚀了国家有限的财政投入。为规范农民专业合作社的健康发展，草案规定，农民专业合作社连续两年未从事经营活动，或者连续三年未报送年度报告的，吊销其营业执照。草案还就成员新入社和除名、盈余分配，以及法律责任等内容的有关条款作了修改完善。
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="tit">
                            成功案例:中农兴保产销合作社
                        </p>
                        <p>
                            2012年，中农富通与保德县人民政府共同组建了中农兴保产销合作社，以企业的新设施、新装备、新技术、新品种等资源优势，带动当地300余人入社。
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="news_img">
                            <img src="/static/images/5_20170720160415.jpg" alt="连栋温室">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news_img">
                            <img src="/static/images/5_20170720160407.jpg" alt="连栋温室">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>
                            由中农兴保产销合作社运营的保德县繁庄塔高新农业示范园区位于山西省保德县县城所在地东关镇，占地面积1715亩，由中农富通进行规划、设计、承建、经营。
                        </p>
                        <p>
                            建有科技引领示范区（4个连栋温室，规模2万平方米）、露地果树示范区、高效设施生产区（规模11万余平方米）、管理服务区、生态涵养区五大功能区，集观光采摘、高效生产、农业示范、生态保护于一体。园区还配有工厂化育苗体系、冷库、自动喷灌、施肥等机械化、智能化管理系统。
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="news_img">
                                    <img src="/static/images/5_20170720160510.jpg" alt="菜篮子">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="news_img">
                                    <img src="/static/images/5_20170720160535.jpg" alt="菜篮子">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="news_img">
                                    <img src="/static/images/5_20170720160549.jpg" alt="菜篮子">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>
                            项目采取龙头企业+合作社+农户的方式，实现了龙头企业壮大、合作社发展、农户增收、农民懂技术增见识的多方共赢局面，为当地农业发展、经济创收、精神文明建社开辟了新的发展模式。
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{/block}