{extend name="base" /}
{block name="title"}{$title}{/block}
{block name="css"}{/block}
{block name="js"}

{/block}

{block name="content"}
<div class="contents college-page">
    <div class="banner">
        <div class="container">
            <h2>一诺千金 诚信为本</h2>
            <div class="tips">
                <p>如果您有任何疑问请您与客户人员联系</p>
                <h3>全国唯一热线:400-996-9695</h3>
                <span>(工作日：9:00-18:00&nbsp;&nbsp;节假日：9:00-16:00)</span>
            </div>
        </div>
    </div>
    <div class="nav clearfix">
        <div class="container">
            <div class="current">
                <div class="title">米花学院</div>
                <div class="en">College</div>
            </div>
            <div class="position">
                <span class="control">当前位置:</span>
                <a href="javascript:;">首页</a>
                <span class="divide">-&gt;</span>
                <a href="javascript:;">米花学院</a>
            </div>
        </div>
    </div>
    <div class="container news">
        <h2 class="title">其实，农业新机遇都在这五座“金矿”里</h2>
        <div class="info">
            未来30年，农业的机遇主要集中在“五大金矿”之中，其中包括农业工业化、农产品加工、食品行业的巨大机遇、政策红利、资本化机遇、深加工红利。开采、利用好这五座金矿，就抓住了农业的未来。
        </div>
        <div class="news-content">
            <div class="title_img">

            </div>
            <p>
                早在20世纪末，著名科学家钱学森关于我国农业发展的建议中就曾讲道：“在中国小农经济基础之上，不可能自发地走向农业产业化；中国农业现代化的根本动力在于科技创新、产业化进程和整个中国的现代化进程。”
            </p>
            <p>
                时过境迁，当今的农业已迈步在现代化的进程上。展望农业前景，无数人士预言农业将是一个十万亿的蓝海，那么，农业的机遇都聚焦在哪些领域呢？
            </p>
            <section>
                <h4>第一座金矿:产业化帮助农业实现三级跳</h4>
                <p>农业不产业化，一切都是枉然的！其实，农业产业化可以通过三级跳完成。</p>
                <p class="tit">一级跳：改变生产方式</p>
                <p>
                    农业产业化之后，农业生产方式、经营方式将会被迫改变，由此带来了巨大的战略机遇。农业将会按照市场设计产品、根据用户需求制定市场，并将在生产的标准化、经营的现代化上进行变革。
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="tit">二级跳：增加农产品营销渠道</p>
                        <p>
                            当前的农产品只有一条路：田地到餐桌。虽然“农业+互联网”，帮助市场把中间商砍掉了，帮助农产品与市民搭建互交。不过渠道上依然单一。消费升级之后，消费者对农产品的期望变得更高，包括口味、包装、品牌等。因此，这些事情均可以由加工业来完成与实现。
                        </p>
                        <p class="tit">三级跳：农产品彻底变身</p>
                        <p>
                            农产品产业化之后，农产品变成食品、工艺品、礼品等新业态产品。同时，产业化将赋予农产品想象空间和市场机会。
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="news_img">
                            <img src="/static/images/2_20170720152240.jpg" alt="改变生产方式">
                        </div>
                    </div>
                </div>
                <p>
                    因此，农业经营者的重点任务不仅仅是生产出优质的农产品，还要满足消费者对农产品的想象，并且让农产品发生革命性变化。
                </p>
            </section>

            <section>
                <h4>第二座金矿:食品业潜力巨大</h4>
                <p>
                    作为大农业或者农业深加工领域的重要组成部分，4大食品业潜力巨大！
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <span class="tit">1、休闲食品。</span>据中商产业研究院《2016-2020年休闲食品行业发展机遇报告》报道：2015年中国休闲食品市场总销售额为5225亿元，2011年至2015年复合年增长率为9.3%。2015年糖果的总销售额占中国休闲食品市场的最大份额24.5%，糕点位居第二17.2%，坚果位居第三13.5%。随着中国经济的发展，休闲食品的市场需求将继续增长，预测2016-2017年的复合年增长率为10.3%。2017年，休闲食品的市场规模将达到6342亿元。
                        </p>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span class="tit">2、健康营养食品。</span>随着消费升级之后，消费者对健康食品越来越重视。目前中国的健康营养食品市场规模大约800多亿元，三年后，这个数据或将超过1800亿元。同时，中国健康营养食品市场潜力巨大，食品企业亟需在健康营养食品方面发力。
                        </p>
                        <p>
                            <span class="tit">3、进口食品。</span>据美国食品工业协会预测：中国进口食品的销量将以每年15%的速度高速增长，到2018年中国将成为全球进口食品最大的消费国，届时中国大陆进口食品市场规模将高达4800亿人民币，将带动一股进口食品产业投资热潮。
                        </p>
                        <p>
                            <span class="tit">4、有机食品。</span>据预测：2025年，全球有机食品和饮料市场规模有望达到3205亿美元，远高于2015年的774亿美元；而我国有机水果蔬菜市场的收益有望超过1100亿美元，将统领着全球的有机食品市场。
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="news_img">
                            <img src="/static/images/2_20170720152252.jpg" alt="食品业潜力巨大">
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h4>第三座金矿:农产品加工规模化</h4>
                <p>
                    2016年12月，国务院办公厅印发《关于进一步促进农产品加工业发展的意见》（《意见》），对今后一个时期我国农产品加工业发展作出全面部署。《意见》提出，加强财政支持，支持符合条件的加工企业申请有关支农资金和项目。完善税收政策，扩大农产品增值税进项税额核定扣除试点行业范围，落实农产品初加工企业所得税优惠政策。
                </p>
                <p>
                    而国家层面加快《意见》落地基于以下2个方面 ：
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="tit">1、规模以上农产品加工企业收入已达20万亿元</p>
                        <p>
                            我国农产品加工业有了长足发展，到2016年规模以上农产品加工企业主营业务收入达到20.1万亿元，占制造业比例为19.6%，成为行业覆盖面宽、产业关联度高、中小微企业多、带动农民就业增收作用强的基础性产业。
                        </p>
                        <p>
                            《意见》针对这些问题，提出了一系列政策措施。在财政支持和税收政策上，要求有关支农资金、农业综合开发资金要支持农产品加工业项目，各地要支持农产品加工业公共设施建设等。扩大农产品增值税进项税额核定扣除试点行业范围，调整完善和明确初加工优惠范围。
                        </p>
                        <p>
                            《意见》针对这些问题，提出了一系列政策措施。在财政支持和税收政策上，要求有关支农资金、农业综合开发资金要支持农产品加工业项目，各地要支持农产品加工业公共设施建设等。扩大农产品增值税进项税额核定扣除试点行业范围，调整完善和明确初加工优惠范围。
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="news_img">
                            <img src="/static/images/2_20170720152303.jpg" alt="农产品加工规模化">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="tit">2、2020年农产品加工业产值要2倍于农业产值</p>
                        <p>
                            《意见》提出，到2020年农产品加工业与农业总产值比达到2.4∶1，农产品加工转化率达到68%；到2025年，农产品加工转化率进一步提升，达到75%。就是说，到2020年，农产品加工业产值要2倍于农业产值。
                        </p>
                        <p>
                            随着我国城乡居民消费升级对加工制品需求旺盛，预估未来5年农产品加工业也将保持年均不低于6.5%的增长速度。如果按照未来5年农业总产值年平均增速4.0%测算，到2020年农产品加工业与农业总产值比预计可达到2.4∶1。
                        </p>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </section>

            <section>
                <h4>第四座金矿:政策红利成关键突破点</h4>
                <p>
                    近年来，“无论是中央一号文件，还是《意见》的公布和出台，都体现了国家对‘三农’问题的重视。”农业企业、农产品加工业成为红利的受益者。
                </p>
                <p>
                    据不完全统计，截止到目前，我国农业上市公司共45家。其中17家上市企业为农产品加工企业，农产品加工企业占比37.78%。
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="tit">1、金融政策扶持，助农产品加工企业走出融资难困境</p>
                        <p>
                            在中研普华研究员陈泽洲看来，政府提出的支持农产品加工企业融资政策主要是从强化金融服务，加大信贷支持力度，扩大担保业务规模，创新“信贷+保险”产业链金融等方面入手的。同时，还表现在改善投资贸易条件，支持社会资本从事农产品加工、流通等领域。
                        </p>
                        <p class="tit">2、政府成为农产品加工的主要推手</p>
                        <p>
                            在2017年6月29日的山西省政府推出的《关于进一步促进农产品加工业发展的实施意见》中明确提出：到2025年，农产品加工转化率达到70%，并支持农产品初加工发展，大力开发功能性食品和健康食品，加快主食加工业发展，发展农产品加工副产物综合利用，促进农产品加工业与其他产业深度融合，推进集群集聚发展。此《意见》是山西省时隔八年之后在省级层面制定的又一份专门针对农产品加工业发展的重要文件，具有里程碑意义。
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="news_img">
                            <img src="/static/images/2_20170720152313.jpg" alt="政策红利成关键突破点">
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h4>第五座金矿:不可忽视的深加工红利</h4>
                <p class="tit">1、从浅加工到深加工</p>
                <p>
                    数据显示，截止2016年12月，中国规模以上农产品加工企业8.1万家，主营业务收入达到20万亿元人民币，实现利润总额1.3万亿元。但有一点，农产品初级加工已经很难撬动市场需求。这意味着农产品深加工将迎来春天。
                </p>
                <p>
                    国办《意见》也针对这些问题，鼓励发展不改变农产品内在品质的初加工，发展二次以上加工的精深加工，发展主食加工，发展综合利用加工。
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="tit">2、深挖农村物流</p>
                        <p>
                            加工、物流运输密不可分。农产品加工是内功、物流是农产品的外功。百亿、千亿级的农产品加工市场都需要靠物流来推动。
                        </p>
                        <p>
                            同时，农村物流包括运输、人才、冷链、仓库等方面的建设，这些行业都隐藏着巨大的财富。
                        </p>
                        <p class="tit">3、再造互联网</p>
                        <p>
                            互联网对于农产品加工来说是良好的助推器，农产品加工需要依靠互联网裂变渠道，颠覆传统的营销通路。
                        </p>
                        <p>
                            互联网在农产品加工业中有3大运用：1.溯源体系：借助互联网构建的农产品溯源体系，提高农产品的安全性；2.技术升级：农业生产阶段通过互联网技术提高种植、养殖的效率，从而在成本上赢得主动权；3.渠道上：电商、微商、新零售都是农产品借助互联网开创的新营销通路。
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="news_img">
                            <img src="/static/images/2_20170720152325.jpg" alt="再造互联网">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{/block}