{extend name="base" /}
{block name="title"}{$title}{/block}
{block name="css"}{/block}
{block name="js"}

{/block}

{block name="content"}
<div class="contents college-page">
    <div class="banner">
        <div class="container">
            <h2>一诺千金 诚信为本</h2>
            <div class="tips">
                <p>如果您有任何疑问请您与客户人员联系</p>
                <h3>全国唯一热线:400-996-9695</h3>
                <span>(工作日：9:00-18:00&nbsp;&nbsp;节假日：9:00-16:00)</span>
            </div>
        </div>
    </div>
    <div class="nav clearfix">
        <div class="container">
            <div class="current">
                <div class="title">米花学院</div>
                <div class="en">College</div>
            </div>
            <div class="position">
                <span class="control">当前位置:</span>
                <a href="javascript:;">首页</a>
                <span class="divide">-&gt;</span>
                <a href="javascript:;">米花学院</a>
            </div>
        </div>
    </div>
    <div class="container news">
        <h2 class="title">农田改建需谨慎，轻则罚款、重则入狱</h2>
        <div class="info">
            <p>想做农业你得先有块地，但有了地，也不代表你可以任性的搞种植、做养殖。</p>
            <p>最近就有报道，云南3男子非法占用基本农田挖塘养鱼，被判有期徒刑两年，并处罚金人民币10000元！</p>
            <p>据了解，这是触犯了非法占用农用地罪，轻则罚款、重则入狱！想搞农业，土地属性这点事，一定要弄清楚！</p>
        </div>

        <div class="news-content">
            <p class="tit">哪些地能种？哪些地能盖厂房？</p>
            <p>按土地属性分，这三种土地最常见：基本农田、一般农地、建设用地。</p>
            <section>
                <p>
                    <span class="tit">基本农田</span>
                    用途限制最严重，建厂申请提都不用提，肯定不会批的。只能用来种植粮棉油菜这些一般作物，连林果业都不能发展，更不用提发展养殖业。
                </p>
                <p>
                    <span class="tit">一般农地</span>
                    用途限制相对宽泛，可以种植一般作物和经济作物，但想盖养殖场需要提交申请。
                </p>
                <p>
                    <span class="tit">建设用地</span>
                    提交建设申请后划拨的土地，申请下来后，在规定时间内必须建设（部分地区是两年内），否则土地会被收回。所以，是不能用来发展种植业的。
                </p>
            </section>
            <section>
                <p class="tit">基本农田，想盖养殖场也有办法</p>
                <p>这个只能说试试，向相关部门提交审批，将基本农田调整为一般农田，然后进行土地转用报批，通过合法合规的流程“农转建”。</p>
                <div class="row">
                    <div class="col-md-12">
                        <p class="tit">附属设施超标占地小心被罚！</p>
                    </div>
                    <div class="col-md-6">
                        <p>对于农用地，不管是种植、养殖，附属设施所占面积是有限制的，这条规定很可能是防止少数人钻土地属性的空子，打着种植的旗号，做养殖等等。请仔细阅读，以防违规被罚↓↓</p>
                        <p>《关于完善设施农用地管理有关问题的通知》中，明确了附属设施用地的指标：<p>
                        <p>①进行工厂化作物栽培的，附属设施用地规模原则上控制在项目用地规模5%以内，但最多不超过10亩；</p>
                        <p>②进行规模化种植的附属设施用地规模原则上控制在项目用地规模3%以内，但最多不超过20亩；</p>
                        <p>③规模化畜禽养殖的附属设施用地规模原则上控制在项目用地规模7%以内（其中，规模化养牛、养羊的附属设施用地规模比例控制在10%以内），但最多不超过15亩；</p>
                    </div>
                    <div class="col-md-6">
                        <div class="news_img">
                            <img src="/static/images/3_20170720154029.jpg" alt="改变生产方式">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>④水产养殖的附属设施用地规模原则上控制在项目用地规模7%以内，但最多不超过10亩；</p>
                        <p>⑤附属设施用地和配套设施用地的种类和指标：如配套设施用地是指由农业专业大户、家庭农场、农民合作社、农业企业等，从事规模化粮食生产所必需的配套设施用地。包括：晾晒场、粮食烘干设施、粮食和农资临时存放场所、大型农机具临时存放场所等用地。</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{/block}