{extend name="base" /}
{block name="title"}{$title}{/block}
{block name="css"}{/block}
{block name="js"}

{/block}

{block name="content"}
<div class="contents college-page">
    <div class="banner">
        <div class="container">
            <h2>一诺千金 诚信为本</h2>
            <div class="tips">
                <p>如果您有任何疑问请您与客户人员联系</p>
                <h3>全国唯一热线:400-996-9695</h3>
                <span>(工作日：9:00-18:00&nbsp;&nbsp;节假日：9:00-16:00)</span>
            </div>
        </div>
    </div>
    <div class="nav clearfix">
        <div class="container">
            <div class="current">
                <div class="title">米花学院</div>
                <div class="en">College</div>
            </div>
            <div class="position">
                <span class="control">当前位置:</span>
                <a href="javascript:;">首页</a>
                <span class="divide">-&gt;</span>
                <a href="javascript:;">米花学院</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row college-item">
            <div class="col-md-3">
                <a href="{:url('College/detail',['id'=>1])}">
                    <img src="/static/images/1_20170720143212.jpg" alt="农村改造补贴">
                </a>
            </div>
            <div class="col-md-9">
                <h1>
                    <a href="{:url('College/detail',['id'=>1])}">
                        2017年农村改造厨房、水井、厕所、猪圈统统都有补贴，不知道你就亏大了
                    </a>
                </h1>
                <p>
                    近年来，国家对三农方面的支持政策不断调整，农民能够享受到的补贴福利也越来越多。
                    但因为一些政策宣传不到位，农民们对于哪些农业项目有补贴以及怎么领取补贴都不太清楚，就拿跟农民生活密切相关的几项建设来说，都是可以领取到补贴的哦。
                </p>
            </div>
            <div class="art-other">
                <span class="info">发布时间:2017年7月1日</span>
            </div>
        </div>
        <div class="row college-item">
            <div class="col-md-3">
                <a href="{:url('College/detail',['id'=>2])}">
                    <img src="/static/images/2_20170720152226.jpg" alt="五大金矿">
                </a>
            </div>
            <div class="col-md-9">
                <h1>
                    <a href="{:url('College/detail',['id'=>2])}">
                        其实，农业新机遇都在这五座“金矿”里
                    </a>
                </h1>
                <p>
                    早在20世纪末，著名科学家钱学森关于我国农业发展的建议中就曾讲道：“在中国小农经济基础之上，不可能自发地走向农业产业化；中国农业现代化的根本动力在于科技创新、产业化进程和整个中国的现代化进程。”
                </p>
            </div>
            <div class="art-other">
                <span class="info">发布时间:2017年7月1日</span>
            </div>
        </div>
        <div class="row college-item">
            <div class="col-md-3">
                <a href="{:url('College/detail',['id'=>3])}">
                    <img src="/static/images/3_20170720153956.jpg" alt="农田改建">
                </a>
            </div>
            <div class="col-md-9">
                <h1>
                    <a href="{:url('College/detail',['id'=>3])}">
                        农田改建需谨慎，轻则罚款、重则入狱
                    </a>
                </h1>
                <p>
                    想做农业你得先有块地，但有了地，也不代表你可以任性的搞种植、做养殖。
                    最近就有报道，云南3男子非法占用基本农田挖塘养鱼，被判有期徒刑两年，并处罚金人民币10000元！
                </p>
            </div>
            <div class="art-other">
                <span class="info">发布时间:2017年7月1日</span>
            </div>
        </div>
        <div class="row college-item">
            <div class="col-md-3">
                <a href="{:url('College/detail',['id'=>4])}">
                    <img src="/static/images/4_20170720155427.jpg" alt="玉米保险">
                </a>
            </div>
            <div class="col-md-9">
                <h1>
                    <a href="{:url('College/detail',['id'=>4])}">
                        每亩交7元，最高获赔850元！13省试点玉米保险补贴
                    </a>
                </h1>
                <p>
                    当前，多数玉米主产区已完成播种工作，甚至一些播种早的地区玉米苗已经长到齐腰高了。可南涝北旱的极端天气仍在持续，不少农民很担心今年的玉米收成。
                    而提起持续不断的自然灾害，内蒙古敖汉旗四家子镇牛夕河村村民白润志倒是一点不着急。原因就是他买了农业大灾保险！
                </p>
            </div>
            <div class="art-other">
                <span class="info">发布时间:2017年7月1日</span>
            </div>
        </div>
        <div class="row college-item">
            <div class="col-md-3">
                <a href="{:url('College/detail',['id'=>5])}">
                    <img src="/static/images/5_20170720155719.jpg" alt="农民专业合作社">
                </a>
            </div>
            <div class="col-md-9">
                <h1>
                    <a href="{:url('College/detail',['id'=>5])}">
                        权威解读：农民专业合作社法修订草案解读
                    </a>
                </h1>
                <p>
                    全国人大农业与农村委员会副主任委员陈光国在十二届全国人大常委会二十八次会议的全体会议上，受全国人大农业与农村委员会委托作了关于《中华人民共和国农民专业合作社法（修订草案）》（以下简称草案）的说明，施行十年的农民专业合作社法迎来了首次修改。
                </p>
            </div>
            <div class="art-other">
                <span class="info">发布时间:2017年7月1日</span>
            </div>
        </div>
        <nav aria-label="page navigation">
            <ul class="pagination" style="display: none">
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{/block}